body {
  color: black;
}

span{
  /* display: flex; */
}


.container{
  color: green;
  display: flex;
}

li{
  padding: 10px;
  list-style-type: none;
}

.songlist{
display: flex;
}


.delete-btn{
  width: 100px;
  background-color: rgb(216, 29, 29);
  color: whitesmoke;
  
}
.delete-btn:hover{
  cursor: pointer;
  background-color: whitesmoke;
  color: rgb(216, 29, 29);
}