* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Orienta", sans-serif;
}

.app-container {
  background: url("/assets/bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 75%;
  width: 100%;
  height: 55vh;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  width: 100%;
  font-size: 2.3rem;
}

a {
  position: relative;
  margin: 50px;
  color: whitesmoke;
}

/* Home and About navLinks */
/* 2nthchild is de homelink */

a:nth-child(1)::before {
  position: absolute;
  content: "";
  top: 30px;
  width: 75%;
  height: 13px;
  background: whitesmoke;
  opacity: 0.7;
  transition: width 0.1s ease-in-out;
  transition-duration: 0.3s;
}

a:nth-child(1):hover::before {
  width: 110%;
}
/* Home and About navLinks */

/* LOGO START*/

.logo {
  color: whitesmoke;
  margin-top: 40px;
  margin-left: 150px;
  width: 400px;
  height: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.wincify-text {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 0;
  grid-row-end: 2;
  font-size: 5rem;
  font-weight: 500;
}

.wincify-text::before {
  content: "";
  position: absolute;
  background-color: #c0824e;
  width: 180%;
  height: 15px;
  bottom: 10px;
  opacity: 0.6;
}

.note-image {
  position: relative;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  position: relative;
  width: 75px;
}
.note-image::before {
  content: "";
  position: absolute;
  background-color: white;
  width: 180%;
  height: 15px;
  bottom: 100px;
}

.playlist-text {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  font-size: 3rem;
  font-weight: 200;
}

/* LOGO END */

/* SONGFORM START */

.song-input-container {
  width: 80%;
  height: 100px;
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.song-input-container label {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  height: auto;
  padding-bottom: 5px;
}

.song-input-container > div {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  width: 200px;
}

.song-input-container label,
input,
select,
button,
option {
  font-size: 1.5rem;
  height: auto;
  border: none;
  outline: none;
}

.song-input-container [type="text"] {
  border-bottom: 2px solid whitesmoke;
  background-color: transparent;
}

.add-btn {
  box-sizing: border-box;
  margin-bottom: -35px;
  margin-left: 20px;
  border: 3px solid #c08554;
  padding: 3px 30px;
  border-radius: 20px;
  background-color: #c08554;
  cursor: pointer;
}

.add-btn:hover {
  color: #c08554;
  background-color: #413634;
}

/* FILTERBUTTON  START*/

.filter-btns {
  display: flex;
  justify-content: center;
}

.filter-btns > fieldset {
  width: 200px;
  margin: 20px;
}
.filter-btns > fieldset > legend {
  font-family: "Montserrat", sans-serif;
  color: whitesmoke;
}
.filter-btns > fieldset > select {
  width: 200px;
}

/* FILTERBUTTON  END*/

.song-row__item::after {
  content: "";
}
:hover.song-row__item::after {
  cursor: pointer;
}

/* Sort Button Start */

.sort-btns-container {
  height: 60px;
  display: flex;
  justify-content: center;
  background-color: #352f2f;
}
.sort-btn {
  display: flex;
  place-items: center;
  margin: 0 70px;
}

.sort-btn > img {
  margin: 0 auto;
  width: 35px;
}

.sort-btn > img:hover {
  cursor: pointer;
}


.sort-btn span {
  font-size: 1.5rem;
  color: white;
}

/* Sort Button end */

/* SONG ROW START */
.songlist {
  margin: 20px auto;
}

.song-row-container {
  background-color: #919191;
  color: #3d322e;

  font-size: 1.3rem;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 80%;
  margin: 0 auto;
  padding: 10px 0;
}

.song-row-container:nth-child(even) {
  background-color: #dedede;
  color: #5a4b45;
}

.song-row-item {
  text-align: center;
  margin: 0 auto;
  width: 20%;
}

/* SONG ROW END */
.delete-btn{
  color:whitesmoke;
  margin-right:30px;
  border: none;
  background-color: #692929;
  padding: 5px 20px;
  border-radius: 20px;
}
.delete-btn:hover{
  cursor: pointer;
}




.delete_all-btn {
  background-color: #692929;
  border-radius: 20px;
  font-size: 0.8rem;
  color: whitesmoke;
  text-align: center;
  margin: 0 auto;
  width: 10%;
  padding: 10px 30px;
  cursor: pointer;
}

.empty-playlist{
  text-align: center;
}

/* About Page START*/
section {
  width: 100%;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  color: white;
  text-align: center;
  width: 30%;
  line-height: 1.5rem;
}

.hallo-text {
  position: absolute;
  width: 500px;
  font-size: 1rem;
}
